@mixin form {
  flex-grow: 5;
  .input-group {
    height: 2.75rem;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    border: 1px solid #00000026;
    border-radius: 2px;
    input {
      height: 100%;
      border: transparent;
      &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: $color-text;
        font-size: 0.8125rem;
      }
    }
    i {
      height: 100%;
      padding: 0 0.8rem;
      line-height: 2.75rem;
      color: $color-primary;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background-color: $color-primary;
        color: $color-secondary;
      }
    }
  }
}
